* {
    box-sizing: border-box;
    transition-delay: 1s 
}
.container {
    position: relative;
    top: 2.8em;
    height: 79vh;
    width: 95vw;
    align-items: center;
    box-shadow: 5px 20px 15px  rgba(0, 0, 0, 0.4);
    background: linear-gradient(10deg, #ececec, #fff);
    transition: 1s;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(../../../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
}

.perfil {
  margin-left: 3%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.row {
  padding: 1rem;
  align-items: center;

}

h1 {
  display: block;
  text-align: center;
  border: 1px solid #fff;
  font-size: 2.1rem;
  color: #fff;
  text-shadow: 0 0 10px #fff,
   0 0 20px #fff,
   0 0 50px #fff;
  text-align: center;
  margin: 0rem 8px;
  padding:3px 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.5);
}


/*h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff,
   0 0 40px #fff,
   0 0 100px #fff;
   cursor: context-menu;
}*/

h3, h4 {
  font-size: 28px;
  color: #fff;
  text-shadow: 0 0 10px #fff,
   0 0 20px #fff,
   0 0 50px #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: -5px 0.6rem;
  padding: 1rem 1.5rem;
}

h4:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff,
   0 0 20px #fff,
   0 0 50px #fff;
   cursor: context-menu;
}

h3:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff,
   0 0 20px #fff,
   0 0 50px #fff;
}

.modal {
  z-index: 99999;
}

.btn-change {
  position: absolute;
  top: 9rem;
  right: 1rem;
}

.inti {
  position: relative;
  height: 100%;
  max-width: 100%;
  top: -25px;
  margin: 0 -0.2rem;
}

.mifoto {
  animation: movimiento 180s linear infinite;
}

/*@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-140px);
  }
  100% {
    transform: translateY(0);
  }
}*/

