


   <div class="container">
        <div class="row" col-sm-12 col-md-2 col-lg-4 col-xl-4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, fugit quasi. Officiis harum placeat cum, modi aliquid consequatur saepe perspiciatis.</p>
        </div>
        <div class="row" col-sm-12 col-md-5 col-lg-4 col-xl-4>
         <img src="../../../assets/foto2.jpg" alt="">
        </div>
        <div class="row" col-sm-12 col-md-5 col-lg-4 col-xl-4>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iusto?
        </div>
        <div class="inti">
         <img src="../../../assets/LogosInti.png" alt="">
        </div>
   </div>


<footer class="bg-white p-2 mt-4">

    <p class="text-center m-0 text-muted">Gatorolo</p>
  </footer>
