<div class="container justify-content-center mb-4">
   <div class="row">
      <div class="d-flex col-sm-12 col-md-4 col-lg-4 col-xl-4 m-0">
          <img class="img-fluid mifoto-item" src="../../../assets/foto2.jpg" alt="">
      </div>
   
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 m-auto py-4">
         <h1 class="nombre"><span>Sergio Rodrigo Benitez</span></h1>
         <h3>Fullstack Developer junior trainee</h3>
         <h4>Autodidacta</h4>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
         <div>
            <img class="inti" src="../../../assets/LogosInti.png" alt="">
         </div>
      </div>



   </div>



</div>


<footer class="bg-white p-4 mb-1">

   <p class="text-center m-0 p-0 text-muted">Gatorolo</p>
</footer>