<div class="container justify-content-center mb-4" *ngIf="usuario">
   <div class="row">
      <div class="d-flex col-sm-12 col-md-4 col-lg-4 col-xl-4 m-0">
          <img class="img-fluid mifoto-item" src="{{usuario.fotoPerfil}}" alt="fotoPerfil">
      </div>
   
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 m-auto pt-3 mt-1">
         <h1 class="nombre"><span>{{usuario.nombre}}</span></h1>
         <h3>{{usuario.titulo}}</h3>
         <h4>{{usuario.descripcion}}</h4>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
         <div>
            <img class="inti" src="../../../assets/LogosInti.png" alt="">
         </div>
      </div>



   </div>



</div>


<footer class="bg-white p-2 mt-5">

   <p class="text-center m-0 p-0 text-muted h4">Gatorolo</p>
</footer>