* {
    box-sizing: border-box;
}
.container {
    position: relative;
    top: 28px;
    height: 440px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
    scroll-behavior: smooth;
    overflow-y: hidden;
    
}

img {
  position: relative;
  width: 40%;
  height: px;
  object-fit: cover;
  top: 25%;
  left:2%;
}

