* {
    box-sizing: border-box;
    transition-delay: 1s 
}
.container {
    position: relative;
    top: 2.8rem;
    height: 79.5vh;
    width: 95vw;
    align-items: center;
    box-shadow: 5px 20px 15px  rgba(0, 0, 0, 0.4);
    background: linear-gradient(10deg, #ececec, #fff);
    transition: 1s;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../../../assets/redes.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
}

 ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    margin: 0 93%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
  
  
  ul li {
    list-style: none;
    padding: 25px 2px;
  }

ul li a {
    position: relative;
    width: 3em;
    height: 3em;
    display: block;
    text-align: center;
    padding: 0px ;
    margin: 0 10px;
    border-radius: 50%;
    border: solid .2px #fff;
    text-decoration: none;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
    background: linear-gradient(0deg, #ddd, rgb(248, 230, 230));
    transition: .9s;
    bottom: 25px;
  }

  ul li a:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
  
  
  ul li a  fa-icon {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg , #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 30px;
    color: #262626;
    transition:  .5s;
  }

  .btn-change {
    position: absolute;
    top: 85%;
    right: 35%;
  }
  
  ul li a:hover fa-icon {
    transform: rotateY(360deg);
  }

  ul li a:hover fa-icon {
    transform: rotateY(360deg);
  }
  
  
  ul li:nth-child(1) a:hover fa-icon {
    color: #fff;
    background: #3b5999;
  }
  
  ul li:nth-child(2) a:hover fa-icon {
    color: #fff;
    background: rgb(18, 96, 122);
  }
  
  ul li:nth-child(3) a:hover fa-icon {
    color: #fff;
    background: rgb(154, 225, 245);
  }
  
  ul li:nth-child(4) a:hover fa-icon {
    color: #fff;
    background: rgb(127, 186, 195);
  }
  
  ul li:nth-child(5) a:hover > fa-icon {
    color: #fff;
    background:rgb(83, 153, 147)  ;
  }
  
  ul li:nth-child(6) a:hover fa-icon {
    color: #fff;
    background: rgb(234, 126, 38);
  }

.item {
    top: 30%;
}

.modal {
    z-index: 99999;
  }


@media screen and (min-width: 990px) {
    .container {
        top: 1.7rem;
        height: 74.5vh;
      }

      ul {
        display: flex;
        flex-direction: row;
        margin: 3.5% 85%;
       
      }

      .btn-change {
        top: 85%;
        right: 45%;
      }
}