body {
    box-sizing: border-box;
 }
 .container {
   position: relative;
    top: 2.8em;
    height: 80.5vh;
    width: 93vw;
    align-items: center;
    box-shadow: 5px 20px 15px  rgba(0, 0, 0, 0.4);
    background: linear-gradient(10deg, #ececec, #fff);
    transition: .5s;
    overflow-y: hidden;
    overflow-x: hidden;
  
 }
  
 
 img {
    position: relative;
    width: 40%;
    object-fit: cover;
   margin-top: 35.1%;
    left: 2%;
 }
  