<div class="container">
    <div class="row">
      <div class="container-item col-xs-12 col-sm-12 col-md-3 col-lg-4 col-xl-4">
        <p class="titulo">www.planetadocumentado.com.ar</p>
       <img src="../../../assets/planeta documentado_jpg.jpg" alt="proyecto-1">
       <span>(julio del 2008 a enero del 2012) hecho con dreamweaver 8</span>
      </div>
      <div class="container-item col-xs-12 col-sm-12 col-md-3 col-lg-4 col-xl-4">
        <p class="titulo"> www.cunadeluna.com.ar</p>
       <img src="../../../assets/ninive.png" alt="proyecto-2">
       <span>(junio de 2010 a marzo de 2013) hecho con dreamweaver 8</span>
      </div>
      <div class="container-item col-xs-12 col-sm-12 col-md-3 col-lg-4 col-xl-4">
        <p class="titulo">www.ninive.ar</p>
       <img src="../../../assets/ninive.png" alt="proyecto-3">
       <span>Hecho con ide en junio de 2021</span>
      </div>
    </div>
 </div>
 
 <footer class="bg-white p-2 mt-5">
 
     <p class="text-center m-0 text-muted h4">Gatorolo</p>
   </footer>
