body {
    box-sizing: border-box;
 }
 .container {
   position: relative;
    top: 2.8em;
    height: 80.5vh;
    width: 95vw;
    align-items: center;
    box-shadow: 5px 20px 15px  rgba(0, 0, 0, 0.4);
    transition: .5s;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(../../../assets/entity.jfif);
    background-position: center;
    background-size: contain;
 }

 .container-item {
   position: relative;
   width: 100%;
   text-align: center;
   color: #fff;
   height: 27.5vh;
   padding-top: 18px;}

 .container-item .titulo {
   font-size: 1.3em;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
   background-color: rgba(0, 0, 0, 0.6);
   color: #fff;
   text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 50px #fff;
 }

 .container-item span {
   font-size: 1.1rem;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
   background-color: rgba(0, 0, 0, 0.6);
 }

 .container-item img {
   display: block;
   width: 60%;
   margin: -10px auto;
 }

 .container-item:hover {
   transform: scale(1.12);
   background-color: rgba(0, 0, 0, 0.7);
   font-size: 1em;
   cursor: pointer;
   top: 15px;
   bottom: 10px;
   padding: 3px 0 5px;
   height: 29vh;
   transition: all .7s ease;
   z-index: 9999;
 }
  
 
 
  