<div class="container">
  <section class="vh-60" style="background-color: transparent">
    <div class="py-4 ">
      <div class="row d-flex justify-content-center align-items-center h-60">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
          <div class="card shadow-1-strong" style="border-radius: 1rem;">
            <div class="card-body pb-5 text-center">

              <h3 class="mb-5">Ingreso</h3>
              <span> usuario: 'user' pass: 'user'</span>
               <hr>
              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                <div class="form mb-1">
                  <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg border border-primary" [(ngModel)]="nombreUsuario" [ngModelOptions]="{standalone: true}"required />
                  <label class="form-label" for="nombreUsuario">Usuario</label>
                </div>

                <div class="form mb-1">
                  <input type="password" id="password"
                    class="form-control form-control-lg border border-primary" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required />
                  <label class="form-label" for="password">Contraseña</label>
                </div>
              <hr>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

              </form>






            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<footer class="bg-white pt-4 mt-4">
  <p class="text-center text-muted h4">Gatorolo</p>
</footer>