
<header>
  <div class="container">
    <ul class="list-group">
       <li class="lista-item"><a routerLink='/paginas/home'><fa-icon [icon]="faHome"></fa-icon></a></li>
       <li class="lista-item"><a routerLink='/paginas/about'><fa-icon [icon]="faAddressCard"></fa-icon></a></li>
       <li class="lista-item"><a routerLink='/paginas/skills'><fa-icon [icon]="faHeadSideVirus">skills</fa-icon></a></li>
       
       
         <li class="lista-item social"><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
         <li class="lista-item social"><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
         <li class="lista-item social"><a href="https://github.com/gatorolo" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a></li>
       
      </ul>
  
  </div>
</header>

<router-outlet></router-outlet>
