* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  position:relative;
  height: 58px;
  width: 100%;
  background-color: #14a5ed;
}

.logo {
 position: absolute;
  width: 43%;
  bottom: -13px;
  
}

.paginas ul {
  width: 5%;
  text-align: center;
  left: 222px;
}

.paginas ul li {
  left: 30px;
}
ul {
  position: absolute;
  top: 44px;
  right: 5px;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

.social {
  display: flex;
  right: -8%;
}

ul li {
  list-style: none;
  padding: 0 5px;
}

ul li a {
  position: relative;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  padding: 0px ;
  margin: 0px 0px;
  border-radius: 50%;
  border: solid .2px #fff;
  text-decoration: none;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .9s;
}


[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #333;
  color: #fff;
  font-size: 15px;
  font-family: Roboto;
  position: absolute;
  padding: 0px 1px;
  bottom: -1.1em;
  left: 50%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
  border-radius: 3px;
  
}
[data-title] {
  position: relative;
}

 ul li a:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

ul li a  fa-icon {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px;
  background: linear-gradient(0deg , #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 28px;
  color: #262626;
  transition:  .5s;

}

ul li a:hover fa-icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li:nth-child(1) a:hover fa-icon {
  
  background: #3b5999;
}

ul li:nth-child(2) a:hover fa-icon {
  color: #fff;
  background: #f8718a;
}

ul li:nth-child(3) a:hover fa-icon {
  color: #fff;
  background: #805bde
}

ul li:nth-child(4) a:hover fa-icon {
  color: #fff;
  background: rgb(68, 236, 239);
}

div li:nth-child(5) a:hover > fa-icon {
  color: #fff;
  background:#6fc079  ;
}





