* {
  box-sizing: border-box;
  text-decoration: none;

}

body {
  margin: 0;
  padding: 0;
}

.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 99%;
    padding: 0;
    margin-top: var(--bs-gutter-y);
}


header {
  position: sticky;
  height: 4.8em;
  width: 100%;
  background-color: #14a5ed;
  z-index: 9999;
}

.container {
  padding: 0;
}

.logo {
  width: 69%;
  height: 7rem;
  margin: -11px 0;
}

.logo span {
  position: relative;
  top: 0px;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

.navbar li .active {
  color: #fff;
  background: #14a5ed;
} 

.navbar ul {
  position: absolute;
  display: flex;
  top: 20px;
  right: -35%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}


ul li {
  list-style: none;
  padding: 0 2px;
}

ul li a {
  position: relative;
  width: 3em;
  height: 3em;
  display: block;
  text-align: center;
  padding: 0px ;
  margin: 5px 5px 5px 8px;
  border-radius: 50%;
  border: solid .2px #fff;
  text-decoration: none;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
  background: linear-gradient(0deg, #ddd, rgb(248, 230, 230));
  transition: .9s;
  bottom: 25px;
}

.checkbtn {
  position: absolute;
  color: #fff;
  right: 15px;
  font-size: 30px;
  border: 2px solid rgb(255, 255, 255);
  padding: 0px 5px;
  top: 12px;
  border-radius: 8px;
  cursor: pointer;
}


.social {
  position: fixed;
  top: 14.3%;
  width: 45%;
  height: 79.3vh;
  right: -100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  transition: 2s;
  z-index: 1000;
}

.social li {
  top: 10%;
  position: relative;
  padding:  16%;
  right: 0;
}

.social li a {
  box-shadow: 0 10px 5px rgba(255, 255, 255, 0.3);
  padding: 0 4px;
}


#check {
  display: none;
}


#check:checked + .social {
  display: block;
  text-align: center;
  right: 2.5%;
  transition: all .6s ease;
}


[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
  z-index: 1999;
}


[data-title] {
  position: relative;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #333;
  color: #fff;
  font-size: 20px;
  font-family: Roboto;
  position: absolute;
  padding: 1px 1px;
  bottom: .7em;
  left: 50%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 299;
  visibility: hidden;
  border-radius: 3px;
  z-index: 1999;
}

.boton_ingreso {
  font-size: 20px;
  font-weight: bold;
  top: 10%;
  position: relative;
  padding:  8%;
  right: 0;
}

 ul li a:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}


ul li a  fa-icon {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px;
  padding: 0 5px;
  background: linear-gradient(0deg , #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 30px;
  color: #262626;
  transition:  .5s;

}

ul li a:hover fa-icon {
  transform: rotateY(360deg);
}


ul li:nth-child(1) a:hover fa-icon {
  color: #fff;
  background: #3b5999;
}

ul li:nth-child(2) a:hover fa-icon {
  color: #fff;
  background: rgb(18, 96, 122);
}

ul li:nth-child(3) a:hover fa-icon {
  color: #fff;
  background: rgb(154, 225, 245);
}

ul li:nth-child(4) a:hover fa-icon {
  color: #fff;
  background: rgb(127, 186, 195);
}

ul li:nth-child(5) a:hover > fa-icon {
  color: #fff;
  background:rgb(83, 153, 147)  ;
}

ul li:nth-child(6) a:hover fa-icon {
  color: #fff;
  background: rgb(234, 126, 38);
}

.social > li {
  animation: movimiento 60s linear infinite;
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}




