

<header class="container">
    <div class="row">
      <div class="logo">
        <img class="logo" src="../assets/APLogo-20-20.png" alt="logo">
        <span class="mobile">Mobile</span>
      </div>
    <nav class="navbar">
      <ul class="">
        <li data-title="Home" ><a class="active" routerLink='/paginas/home'>
            <fa-icon [icon]="faHome" class="active"></fa-icon>
          </a></li>
        <li data-title="About"><a routerLink='/paginas/about'>
            <fa-icon [icon]="faAddressCard"></fa-icon>
          </a></li>
        <li data-title="Skills"><a routerLink='/paginas/skills'>
            <fa-icon [icon]="faGears">skills</fa-icon>
          </a></li>
        <li data-title="Studies"><a routerLink='/paginas/studies'>
            <fa-icon [icon]="faBuildingColumns"></fa-icon>
          </a>
        </li>
        <li data-title="Projects"><a routerLink='/paginas/projects'>
          <fa-icon [icon]="faDiagramProject"></fa-icon>
        </a>
        </li>
      </ul>
    </nav>
    </div>



      <label for="check" class="checkbtn"><fa-icon [icon]="faBars" aria-hidden="true"></fa-icon></label>
      <input type="checkbox" id="check">
      
      <ul class="social">

        <li><a href="#">
            <fa-icon [icon]="faFacebookF" aria-hidden="true"></fa-icon>
          </a></li>
        <li><a href="#">
            <fa-icon [icon]="faInstagram" aria-hidden="true"></fa-icon>
          </a></li>
        <li><a href="https://github.com/gatorolo" target="_blank">
            <fa-icon [icon]="faGithub" aria-hidden="true"></fa-icon>
          </a></li>
          <li><a href="#">
            <fa-icon [icon]="faLinkedinIn" aria-hidden="true"></fa-icon>
          </a>
        </li>
        <li data-title="Edit"><a routerLink='/paginas/login'>
          <fa-icon [icon]="faPen" aria-hidden="true"></fa-icon>
        </a>
      </li>
      <li data-title="Login" ><a routerLink='/paginas/login'>
        <fa-icon [icon]="faUser"></fa-icon>
      </a>
      </li>
      </ul>
</header>

<router-outlet></router-outlet>