body {
    box-sizing: border-box;
}
.container {
  position: relative;
  top: 2.6em;
  height: 82vh;
  width: 93vw;
  align-items: center;
  box-shadow: 5px 20px 15px  rgba(0, 0, 0, 0.4);
  background: linear-gradient(10deg, #ececec, #fff);
  transition: .5s;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  font-size: 21px;
}

h1::selection {
  background: rgb(149, 221, 213);
  color: cadetblue;
}
img {
  position: relative;
  width: 40%;
  object-fit: cover;
  bottom: -5px;
  left:2%;
}

