<div class="container">
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <p class="parrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum veritatis iste non nulla hic? Magnam exercitationem non maiores. Amet ad consectetur et inventore 
            natus consequuntur esse libero maxime quasi labore quos eum id, nesciunt eligendi. Aliquid, eveniet?
          </p>
        </div>
        <div class="carousel-item">
          <p class="parrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cumque molestias corrupti sed qui delectus magnam nobis aliquam tenetur voluptate, autem rem aspernatur, 
            id odit culpa modi? Delectus odit nihil voluptate accusamus maiores vel odio laborum omnis! Soluta.
          </p>
        </div>
        <div class="carousel-item">
          <p class="parrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corporis quaerat eum ut quos quisquam mollitia reprehenderit, incidunt repellendus excepturi repellat est impedit voluptatibus amet voluptatum, molestias voluptate
            ipsum quas? Quasi aspernatur vel consequatur quidem repellendus voluptate architecto nisi ex?
          </p>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<footer class="bg-white p-2 mt-5">

    <p class="text-center m-0 p-0 text-muted h4">Gatorolo</p>
  </footer>