body {
    box-sizing: border-box;
}
.container {
  position: relative;
    top: 2.8em;
    height: 80.5vh;
    width: 95vw;
    align-items: center;
    box-shadow: 5px 20px 15px  rgba(0, 0, 0, 0.4);
    transition: .5s;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(../../../assets/entity3.webp);
    background-position: center;
    background-size: cover;
}

h1 {
  font-size: 21px;
}

h1::selection {
  background: rgb(149, 221, 213);
  color: cadetblue;
}
img {
  position: relative;
  width: 40%;
  object-fit: cover;
  bottom: -5px;
  left:2%;
}

