<div class="container">
  <div class="row">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <p class="text-white text-center display-4 font-weight-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste reiciendis fugiat, quibusdam velit officia accusamus fuga, dolores odit corrupti illo, doloribus atque voluptas similique facere?</p>
        </div>
        <div class="carousel-item">
          <p class="text-white text-center display-4 font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem corporis, adipisci amet ipsam ipsum in.</p>
        </div>
        <div class="carousel-item">
          <p class="text-white text-center display-4 font-weight-bold">Lorem, ipsum dolor sit amet consectetur adipisicing elit.<a href="https://es.wikipedia.org/wiki/COBOL" target="_blank">Cobol</a> Ipsum nostrum blanditiis eligendi! Minus expedita officiis dolore nostrum atque hic accusamus.</p>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
</div>

<footer class="bg-white p-2 mt-5">

    <p class="text-center m-0 p-0 text-muted h4">Gatorolo</p>
  </footer>