.container {
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-wrap: nowrap ;
}

.row-1 {
   width: 40%;
}
.row-2 {
    width: 40%;
    height: 10vh;
}

h1 {
    font-size: 21px;
}
img {
    height: 20vh;
object-fit: cover;
};

