
<div class="container">
   <div class="skills">
        <h2>HTML</h2>
        <div class="progress-bar">
          <div class="html"><span>2 años</span></div>
        </div>
        <h2>CSS</h2>
        <div class="progress-bar">
          <div class="css"><span>2 años</span></div>
        </div>
        <h2>JAVASCRIPT</h2>
        <div class="progress-bar">
          <div class="javascript"><span>1 año</span></div>
        </div>
        <h2>RUBY</h2>
        <div class="progress-bar">
          <div class="ruby"><span>6 meses</span></div>
        </div>
        <h2>ANGULAR</h2>
        <div class="progress-bar">
          <div class="angular"><span>5 meses</span></div>
        </div>
        <h2>CLOUD_COMPUTING</h2>
        <div class="progress-bar">
          <div class="cloud"><span>3 meses</span></div>
        </div>
      </div>
</div>

<footer class="bg-white p-2 mt-5">

    <p class="text-center m-0 text-muted h4">Gatorolo</p>
  </footer>