body {
  box-sizing: border-box;
}
.container {
  position: relative;
  top: 2.8rem;
  height: 79.5vh;
  width: 95vw;
  align-items: center;
  box-shadow: 0px 20px 15px 0 rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url(../../../assets/entity2.jpg);
  background-position: center;
  background-size: cover;
}

.skills {
  margin-top: 70px;
}

.skills h2 {
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 1.6em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

@media screen and (min-width: 990px){
   .container {
      top: 1.7rem;
      height: 75vh;
   }
}
