body {
    box-sizing: border-box;
}

.container {
  position: relative;
  top: 2.6em;
  height: 81vh;
  width: 90vw;
  align-items: center;
  box-shadow: 5px 20px 15px  rgba(0, 0, 0, 0.4);
  background: linear-gradient(10deg, #ececec, #fff);
  transition: .5s;
  overflow-y: hidden;
  overflow-x: hidden;
 }

.row {
    height: 33%;
    border: 1px solid blue;
    width: 100%;
    margin: 0%;
}
.inti {
  position: relative;
  width: 41.1%;
  object-fit: cover;
  top: 26%;
  left: 0.6%;
}



  