body {
    box-sizing: border-box;
}

.container {
  position: relative;
    top: 2.8em;
    height: 80.5vh;
    width: 95vw;
    align-items: center;
    box-shadow: 5px 20px 15px  rgba(0, 0, 0, 0.4);
    transition: .5s;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 10px 0px;
    background-image: url(../../../assets/EntityFramework-600x300.jpg);
    background-size: cover;
 }

 .col {
  padding: 10px;
 }

img {
  width: 100%;
  padding: 0px 15px;
}

.titulo {
  font-size: 14px;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  z-index: 99999;
}
.modal-body img {
  transform: scale(1);
  overflow: hidden;
  transition: all .4s ease;
}
.modal-body img:hover {
  transform: scale(1.25);
}
  