<div class="container">

  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
    <div class="col">
      <p class="titulo">#Yo Programo</p>
       <img src="../../../assets/argentina_programa_febrero_abril_2022_page-0001.jpg" alt="argentina-programa-I">
      
    </div>
    <div class="col">
      <p class="titulo">#Sè programar</p>
       <img src="../../../assets/argentina_programa_febrero_abril_2022_page-0001.jpg" alt="argentina-programa-II">
    </div>
    <div class="col">
      <p class="titulo">Google-Html-I</p>
      <img src="../../../assets/certificado app_page.jpg" alt="Google-Html-I">
    </div>
    <div class="col">
      <p class="titulo">Google-Html-II</p>
      <img src="../../../assets/certificado cloud-computing.jpg" alt="google-Html-II">
    </div>
    <div class="col">
      <p class="titulo">Goggle-App</p>
      <img src="../../../assets/certificado google html.jpg" alt="app">
    </div>
    <div class="col">
      <p class="titulo">Google-Cloud</p>
       <img src="../../../assets/certificado google html II.jpg" alt="cloud">
    </div>
    <div class="col">
      <p class="titulo">Ciberseguridad</p>
       <img src="../../../assets/certificado ciberseguridad en el teletrabajo.jpg" alt="ciberseguridad">
    </div>
    <div class="col">
      <p class="titulo">google-Html-II</p>
      <img src="../../../assets/certificado google html II.jpg" alt="">
    </div>
  </div>

  <div class="modal fade" id="ModalToggle" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalToggleLabel">#Sè Programar</h1>
          <button type="button color-dark" class="btn-close pb-3" data-bs-dismiss="modal" aria-label="Close" color="white">x</button>
        </div>
        <div class="modal-body">
          <img  src="../../../assets/argentina_programa_febrero_abril_2022_page-0001.jpg" alt="certificado argentina-programa">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#ModalToggle2" data-bs-toggle="modal">Siguiente</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="ModalToggle2" aria-hidden="true" aria-labelledby="ModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalToggleLabel2">#Yo Programo</h1>
          <button type="button" class="btn-close pb-3" data-bs-dismiss="modal" aria-label="Close" color="white">x</button>
        </div>
        <div class="modal-body">
          <img src="../../../assets/argentina_programa_febrero_abril_2022_page-0001.jpg" alt="yo_programo">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#ModalToggle3" data-bs-toggle="modal">Siguiente</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalToggle3" aria-hidden="true" aria-labelledby="ModalToggleLabel3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 p-1" id="ModalToggleLabel3">Google Html I<I></I></h1>
          <button type="button" class="btn-close pb-3" data-bs-dismiss="modal" aria-label="Close" color="white">x</button>
        </div>
        <div class="modal-body">
          <img src="../../../assets/certificado google html.jpg" alt="yo_programo">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#ModalToggle4" data-bs-toggle="modal">Siguiente</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalToggle4" aria-hidden="true" aria-labelledby="ModalToggleLabel4" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 p-1" id="ModalToggleLabel4">Google Html II</h1>
          <button type="button" class="btn-close pb-3" data-bs-dismiss="modal" aria-label="Close" color="white">x</button>
        </div>
        <div class="modal-body">
          <img src="../../../assets/certificado google html II.jpg" alt="yo_programo">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#ModalToggle5" data-bs-toggle="modal">Siguiente</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalToggle5" aria-hidden="true" aria-labelledby="ModalToggleLabel5" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 p-1" id="ModalToggleLabel5">Google Cloud Computing</h1>
          <button type="button" class="btn-close pb-3" data-bs-dismiss="modal" aria-label="Close" color="white">x</button>
        </div>
        <div class="modal-body">
          <img src="../../../assets/certificado cloud-computing.jpg" alt="cloud-computing">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#ModalToggle6" data-bs-toggle="modal">Siguiente</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalToggle6" aria-hidden="true" aria-labelledby="ModalToggleLabel6" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 p-1" id="ModalToggleLabel6">Google App-Desarrollo</h1>
          <button type="button" class="btn-close pb-3" data-bs-dismiss="modal" aria-label="Close" color="white">x</button>
        </div>
        <div class="modal-body">
          <img src="../../../assets/certificado app_page.jpg" alt="cloud-computing">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#ModalToggle7" data-bs-toggle="modal">Siguiente</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalToggle7" aria-hidden="true" aria-labelledby="ModalToggleLabel7" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 p-1" id="ModalToggleLabel7">Google Ciberseguridad</h1>
          <button type="button" class="btn-close pb-3" data-bs-dismiss="modal" aria-label="Close" color="white">x</button>
        </div>
        <div class="modal-body">
          <img src="../../../assets/certificado ciberseguridad en el teletrabajo.jpg" alt="cloud-computing">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#ModalToggle8" data-bs-toggle="modal">Siguiente</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalToggle8" aria-hidden="true" aria-labelledby="ModalToggleLabel8" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2 p-1" id="ModalToggleLabel7">Pròximos Desafios</h1>
          <button type="button" class="btn-close pb-3" data-bs-dismiss="modal" aria-label="Close" color="white">x</button>
        </div>
        <div class="modal-body">
          <h4 class="cloud">/*Cloud Computing*/</h4><br>
          <h4 class="ciberseguridad">/*Phyton*/</h4>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#ModalToggle" data-bs-toggle="modal">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-primary m-4" data-bs-toggle="modal" href="#ModalToggle" role="button">Ver Documentos</a>
</div>


<footer class="bg-white p-2 mt-5">

  <p class="text-center m-0 text-muted h4">Gatorolo</p>
</footer>