body {
    box-sizing: border-box;
}

.container {
    position: relative;
    top: 28px;
    height: 438px;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
    scroll-behavior: smooth;
 }

.row {
    height: 33%;
    border: 1px solid blue;
    width: 100%;
    margin: 0%;
}
.inti {
  position: relative;
  width: 41.1%;
  object-fit: cover;
  top: 26%;
  left: 0.6%;
}



  